<div class="w3-container w3-half w3-display topmiddle w3-margin-top">
    <div class="w3-container w3-blue">
        <h2>New Todo</h2>
    </div>
    <form class="w3-container w3-border">
        <p>
            <input [(ngModel)]="newTodo" name="newTodo" placeholder="Todo..." class="w3-input" type="text">
        </p>
        <p>
            <button (click)="addTodo()" class="w3-btn w3-blue w3-large">
                Register
            </button>
        </p>
    </form>
    <div class="w3-container w3-margin-top w3-blue">
        <h2>Todo List</h2>
    </div>
    <div class="w3-container w3-border w3-padding">
        <div [hidden]="!isEmpty()">
            <i>Nothing to do?</i>
        </div>
        <div *ngFor="let todo of todoList">
            <p [ngClass]="todo.done ? 'done':''" style="width: 95%; float: left;" (click)="changeStatus(todo)">
                {{todo.name}}
            </p>
            <p style="width: 5%; float: left;" (click)="delete(todo)">x</p>
        </div>
    </div>
</div>